container_commands:
    00collectstatic:
        command: "docker exec $(docker ps -l -q) python manage.py collectstatic --noinput"
    01migrate:
        command: "docker exec $(docker ps -l -q) python manage.py migrate --noinput"
        leader_only: true
    02buildwatson:
        command: "docker exec $(docker ps -l -q) python manage.py buildwatson"
        leader_only: true