@font-face {
    font-family: futura-book;
    unicode-range: U+00-7F;
    src: url(../fonts/futura-book.woff);
}

/* font-size monkey patch on webkit */
* {
    -webkit-text-size-adjust: none;
}
html {
    height: 100%;
}
body {
    font-family: futura-book, "Microsoft JhengHei", "微軟正黑";
    height: 100%;
}
.react-container {
    height: 100%;
}
div .top-black-bar {
    height: 17px;
    background: #000000;
}
div.logo {
    margin: 50px auto 36px auto;
    text-align: center;
    cursor: pointer;
}
div.logo img {
    width: 222px;
}

.footer {
    height: 40px;
    background-color: #f0f0f0;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

.circle-divider {
  background: #000;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 8px 2px 8px;
}

.grey-circle {
    background: #6e6e6e;
}

.twin {
    margin: 0 3px;
}
.nav {
    background-color: #f0f0f0;
}
.nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    margin: 0px;
}
.nav.fixed .sub-nav{
    top: 47px;
}

.navitems:hover .sub-nav a, .navitems:hover .sub-nav span {
    visibility: visible;
}
.navitems:hover .sub-nav {
    visibility: visible;
    height: 47px;
    visibility: all 0.2s;
}

.sub-nav {
    visibility: hidden;
    position: absolute;
    top: 224px;
    background-color: #fff;
    z-index: 3;
    width: 100%;
    left: 0px;
    height: 0px;
    line-height: 47px;
    transition: all 0.2s;

}
.sub-nav a, .sub-nav span {
    color: #646464 !important;
    visibility: hidden;
}

.header {
    text-align: center;
    margin: 2px 0px;
    height: 47px;
    padding: 12px 22px;
    width: 90%;
    margin: 0 auto;
    float: none;
    position: static;
}
.header a {
  font-size: 14px;
  color: #000;
  letter-spacing: 0.1em;
  line-height: 1.5;
  width: 65px;
  display: inline-block;
}
.header a.active {
    text-decoration: underline;
}

.header .navbar {
    width: 50%;
    margin: 0 auto;
    position: static;
}
.header .search {
    cursor: pointer;
}
.header .fb {
    margin-right: 25px;
}
.header .fb img {
    margin-top: -3px;
}
.header a:hover {
    opacity: 0.7;
    text-decoration: none;
}
.header img:hover {
    opacity: 0.7;
}
.banner-outer-container {
    height: 50%;
    overflow-x: auto;
    overflow-y: hidden;
}

.banner-outer-container .arrow {
    position: absolute;
    top: 430px;
    width: 28px;
    z-index: 2;
    cursor: pointer;
}

.banner-outer-container .arrow:hover {
    opacity: 0.5;
}

.banner-outer-container .arrow.left {
    left: 10px;
}

.banner-outer-container .arrow.right {
    right: 10px;
}

.banner-inner-container {
    width: 12800px;
    white-space: nowrap;
}
.banner-inner-container .banner-tile {
    float: left;
    position: relative;
    height: 450px;
    /* width: 640px; */
}
.banner-inner-container .banner-tile img {
    height: auto;
    width: auto;
}
.banner-inner-container .banner-tile .title {
    height: 60px;
    background: rgba(0, 0, 0, .5);
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 53px;
}
.banner-inner-container .banner-tile .title span {
    color: #ffffff;
    line-height: 60px;
    font-size: 16px;
    letter-spacing: 0.075em;
    text-decoration: none;
}

.banner-inner-container .banner-tile .title .circle-divider {
    background: #ffffff;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 14px 4px 14px;
}
.scroller-content {
    padding: 0px !important;
}
.mansonryContainer {
    width: 90%;
    margin: 70px auto 50px auto;
}

.no-results{
    display: block;
    font-size: 14px;
    line-height: 7;
    letter-spacing: 0.1em;
    text-align: center;
    width: 100%;
    position: absolute;
    margin-bottom: 20px;
    margin-top: -75px;
    left: 0px;
}

.tile {
    max-width: 500px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}
@media (min-width: 320px) and (max-width: 640px) {
    .tile{
        width: 100%;
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .tile{
        width: 50%;
    }
}
@media (min-width: 960px) and (max-width: 1680px)  {
    .tile{
        width: 33.31%;
    }
}
@media (min-width: 1680px) and (max-width: 2000px) {
    .tile{
        width: 20%;
    }
}
@media (min-width: 2000px) and (max-width: 2320px) {
    .tile{
        width: 16.6%;
    }
}
@media (min-width: 2320px) and (max-width: 2640px) {
    .tile{
        width: 14.28%;
    }
}
@media (min-width: 2640px) and (max-width: 2960px) {
    .tile{
        width: 11.1%;
    }
}
/*
.tile {
    width: 100%;
    max-width: 500px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

@media (min-width: 320px) and (max-width: 640px) {
    .mansonryContainer {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .mansonryContainer {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media (min-width: 960px) and (max-width: 1680px)  {
    .mansonryContainer {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media (min-width: 1680px) and (max-width: 2000px) {
    .mansonryContainer {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}
@media (min-width: 2000px) and (max-width: 2320px) {
    .mansonryContainer {
        -moz-column-count: 6;
        -webkit-column-count: 6;
        column-count: 6;
    }
}
@media (min-width: 2320px) and (max-width: 2640px) {
    .mansonryContainer {
        -moz-column-count: 7;
        -webkit-column-count: 7;
        column-count: 7;
    }
}
@media (min-width: 2640px) and (max-width: 2960px) {
    .mansonryContainer {
        -moz-column-count: 8;
        -webkit-column-count: 8;
        column-count: 8;
    }
}
*/
.tile:hover {
    opacity: 0.7;
}
.tile img {
    width: 100%;
}
.tile .intro {
    text-transform: uppercase;
    padding: 10px 35px 35px;
    background: #f0f0f0;
}
.tile .intro .info {
    font-size: xx-small;
    margin-bottom: 5px;
}
.tile .intro .heading {
    font-size: 20px;
    letter-spacing: 0.1em;
}
.tile .intro .sub-heading {
    font-size: 14px;
}
.tile .intro .divider {
    margin-top: 0px;
    margin-bottom: 12px;
}

.tile .intro .synopsis {
    font-size: 11px;
    text-align: justify;
    line-height: 19px;
    word-wrap: break-word;
}

.tile .intro .synopsis h1, .tile .intro .synopsis h2,
.tile .intro .synopsis h3, .tile .intro .synopsis h4,
.tile .intro .synopsis h5, .tile .intro .synopsis h6 {
    font-size: 11px;
    text-align: justify;
    line-height: 19px;
    word-wrap: break-word;
}
.tile .intro .synopsis b {
    font-weight: 500;
} 
.tile .triangle {
    font-size: 0px;
    line-height: 0%;
    width: 0px;
    border-bottom: 14px solid #000;
    border-right: 14px solid #f0f0f0;
    margin-top: -14px;
}
.article-box{
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
}
.article-box .close {
    position: absolute;
    right: 2%;
    top: 30px;
}
.article-box .article-header {
    line-height: 45px;
    font-size: 14px;
    letter-spacing: 0.1em;
    padding: 0px;
    text-align: center;
    border-bottom: 0px;
}
.article-box .article-header .circle-divider {
    margin: 2px 20px;
}
.article-box .article {
    display: flex;
    position: absolute;
    top: 45px;
    bottom: 70px;
    left: 50%;
    margin-left: -45%;
    background-color: #f0f0f0;
    width: 90%;
    text-align: center;
    padding: 40px 0px;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 0px;
}
.article-box .article .triangle {
    font-size: 0px;
    line-height: 0%;
    width: 0px;
    border-bottom: 14px solid #000;
    border-right: 14px solid #f0f0f0;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.article-box .article .article-content {
    width: 50% !important;
    text-align: justify;
    color: #000000;
    font-size: 13px;
    line-height: 21px;
    border-right: 1px solid #d5d5d5;
    outline: 0;
    overflow: auto;
    height: 100%;
}
.article-box .article .article-content.overflow {
    border-right: none;
}
.article-content .text h1, .article-content .text h2,
.article-content .text h3, .article-content .text h4, 
.article-content .text h5, .article-content .text h6 {
    letter-spacing: 0.075em;
}
.article-content .text a:hover{
    text-decoration: none;
    opacity: 0.7;
}

.article-box .article .article-content .inner-content {
    padding: 52px;
}

.article-box .article .article-content.jspScrollable .inner-content {
}
.article-box .article .category {
  color: #ffffff;
  height: 17px;
  font-size: 10.5px;
  border-radius: 12px;
  background-color: #c8c8c8;
  display: inline-block;
  padding: 10px;
  line-height: 0px;
  margin-bottom: 22px;
  letter-spacing: 0.075em;
}
.article-box .article .article-content.jspScrollable {
    border-right: none;
}
.article-box .article .article-content .scroller-bar{
    background: none;
    border: none;
}

.article-box .article .article-content .scroller-track{
    background: none;
}

.article-box .article .article-content .scroll-line {
    height: 100%;
    border-right: 1px solid #d7d7d7;
    width: 1px;
    margin-left: 8px;
}
.article-box .article .article-content p {
    margin-bottom: 26px;
}
.article-box .article .article-content p.title {
    font-size: 20px;
    margin-bottom: 13px;
    letter-spacing: 0.075em;
    line-height: 30px;
}
.article-box .article .article-content p.sub-title {
    font-size: 16px;
    letter-spacing: 0.075em;
    margin-bottom: 0px;
}
.gallery .arrow {
    float: left;
    width: 10%;
    height: 12%;
    cursor: pointer;
}

.gallery .arrow img {
    vertical-align: middle;
    display: inline-block;
    height: 13px;
}

ul.thumbnails {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 80%;
    height: 12%;
    overflow: hidden;
    float: left;
}
ul.thumbnails li {
    display: inline;
    height: 100%;
    cursor: pointer;
}
ul.thumbnails li:hover {
    opacity: .5;
}
ul.thumbnails li img {
    max-height: 150px;
    height: 100%;
    width: auto;
}
.align-helper {
    display: inline-block;
    height: 85%;
    vertical-align: middle;
}
.on_deck{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    height: 90%;
    white-space: nowrap;
    width: 100%;
}
.on_deck img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    height: auto;
    max-height: 85%;
}

.on_deck .video-embed {
    display: inline-block;
    vertical-align: middle;
}

.on_deck .caption {
    font-size: 11px;
    letter-spacing: 0.05em;
    height: 5%;
}

.on_deck.shooting-credits {
    display: table;
}

.on_deck.shooting-credits .shooting-credits-inner {
    display: table-cell;
    vertical-align: middle;
}
.article-box .article .article-content .share {}
.article-box .article .gallery {
    width: 50%;
    padding: 0px 40px;
    height: 100%;
}
.article-box .article .gallery.shooting {
    width: 62.5%;
    padding: 0px 40px;
    height: 95%;
    margin: 0 auto;
}

.gallery.shooting .align-helper {
    height: 100%;
}

.article-box .article .shooting-info {
    height: 5%;
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
    left: 0;
}

.shooting-info .shooting-info-heading {
    font-size: 20px;
    letter-spacing: 0.075em;
}

.shooting-info .shooting-info-toggle {
    color: #6e6e6e;
    font-size: 14px;
    letter-spacing: 0.075em;
    position: absolute;
    right: 35px;
    cursor: pointer;
}

.article-box .shooting-credits .shooting-credits-inner .role {
    font-size: 15px;
    letter-spacing: 0.075em;
    border-radius: 0px;
    background-color: transparent;
    color: #6e6e6e;
    text-align: right;
    width: 45%;
}
.article-box .shooting-credits .shooting-credits-inner .name {
    font-size: 15px;
    letter-spacing: 0.075em;
    margin-left: 13px;
    color: #c8c8c8;
    display: inline-block;
    text-align: left;
    width: 50%;
}

.article-box .article .gallery .item.active {
    display: flex;
}
.article-box .article .gallery .item.active img {
    margin: auto;
}
.article-box .author {
    margin-bottom: 3px !important;
}
.article-box .credit {
  margin-bottom: 5px !important;
}
.article-box .credit .role {
    font-size: 10.5px;
    letter-spacing: 0.075em;
    color: #ffffff;
    height: 17px;
    font-size: 10.5px;
    border-radius: 12px;
    background-color: #c8c8c8;
    display: inline-block;
    padding: 8px;
    line-height: 0px;
    font-weight: 500;
}
.article-box .credit .name {
    margin-left: 7.5px;
    color: #c8c8c8;
    font-size: 10.5px;
    letter-spacing: 0.075em;
}
.article-box .credit a, .articl-box .shooting-credits-info a {
    color: #c8c8c8;
}

.search-layer {
    display: none;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
}
.search-layer.show {
    display: block;
}
.search-layer .close {
    margin: 20px 30px;
}
.search-layer .search-form, .search-layer .subscribe-form {
    margin-top: 145px;
    text-align: center;
    padding: 0 100px;
}


.search-layer input {
    font-size: 150px;
    outline: 0;
    background-color: transparent;
    border: none;
    border-color: transparent;
}
.search-layer label {
    font-size: 32px;
    font-weight: 200;
    display: block;
}
.decorations {
    height: 1px;
    background-color: #c8c8c8;
    text-align: center;
    margin: 20px 0;
}
.decorations .created_at {
    background-color: #f0f0f0;
    color: #646464;
    position: relative;
    top: -10px;
    font-size: 10px;
    letter-spacing: 0.075em;
    padding: 0 9px;
}

.sub-nav .header, .sub-nav .header .fixed {
    background: #fff;
}

.sub-nav-inner {
    text-align: left;
    border-bottom:1px solid #c8c8c8;
    width: 100%;
    height:13px;
}

.nav-selected {
    display: inline-block;
    background: white;
    font-size: 14px;
    padding-right: 20px;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

.sub-nav-filters {
    background: white;
    padding-left: 20px;
}

.banner-outer-container .fs-scrollbar-content {
    padding: 0px !important;
}

.mansonryAlbumContainer {
    width: 90%;
    margin: 40px auto;
}
.albums .close {
    position: absolute;
    right: 30px;
    top: 30px;
}

.albums .sub-nav {
    top: 47px;
}

.albums .close:hover {
    opacity: 0.5;
}
.albums-header {
    height: 50px;
    text-align: center;
    font-size: 14px;
    color: #000;
    letter-spacing: 0.1em;
    line-height: 1.5;
    padding: 16px 0;
}

.album-tile {
    cursor: pointer;
}

.album-tile:hover {
    opacity: 0.8;
}
.album-content {
    height: 100%;
}

.album-content .myslick-container img {
    cursor: pointer;
}
.album-content .myslick-container img:hover {
    opacity: 0.8;
}

.myslick-prev, .myslick-next {
  position: absolute;
  display: block;
  height: 28px;
  width: 28px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
  background: #e6e6e6,;
  border-radius: 14px;
}
.myslick-prev:hover, .myslick-next:hover {
    opacity: 0.7;
}
.myslick-prev {
    left: -70px;
}
.myslick-next {
    right: -70px;
}

.album-content .caption {
    height: 5%;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}

.album-content .thumbnails-div {
    width: 50%;
    margin: 0 auto;
    height: 10%;
}
.album-content .thumbnails-div .arrow {
    width: 3%;
    height: 100%;
    float: left;
    cursor: pointer;
}
.album-content .thumbnails-div .arrow.right {
    text-align: right;
}
.album-content .thumbnails-div .thumbnails {
    margin: 0 auto;
    height: 100%;
    width: 93%;
    text-align: center;
}
.photo-layer {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    left: 0;
    text-align: center;
    z-index: 1;
}
.photo-layer .photo-content {
    height: 90%;
}
.photo-layer .align-helper {
    height: 100%;
}
.photo-layer img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    height: auto;
    max-height: 95%;
}
.album-content .close {
    position: absolute;
    top: 30px;
    right: 30px;
}

.license-footer {
    height: auto;
    max-height: 500px;
    transition: max-height 300ms ease-in;
    line-height: 20px; 
    padding: 0 60px 20px;
}

.license-footer.collapsed{
    max-height: 40px;
    cursor: pointer;
}

.license-footer .title, .license-footer .current-title {
    font-size: 14px;
    margin-bottom: 24px;
    margin-top: 10px;
    cursor: pointer;
}

.license-footer p {
    margin: 0px;   
}

.license-footer .license-footer-link {
    margin-top: 12px;
}
.license-footer a {
    text-decoration: none;
    color: #333;
}
/* animations */
.post-enter  {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.post-enter.post-enter-active {
  opacity: 1;
}

.post-leave {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.post-leave.post-leave-active {
  opacity: 0;
}

.gallery-enter {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}

.gallery-enter.gallery-enter-active {
  opacity: 1;
}

.gallery-leave {
    opacity: 1;
    visibility: hidden;
    transition: opacity .3s ease-in;
}

.gallery-leave.gallery-leave-active {
    opacity: 0.01;
    position: fixed;
    left: -10000px;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #d5d5d5;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(213,213,213,0.4); 
}

/* jscrollpane */
.jspTrack {
    background: #f0f0f0;
}

.jspDrag {
  width: 7px;
  border-radius: 3px;
  background: #d5d5d5;
}

.article-content .jspVerticalBar {
    position: relative;
    width: 16px;
    height: 100%;
    margin-left: 99%;
}

/* fs-scrollbar */
.fs-scrollbar-bar {
    height: 25px !important;
}

.fs-scrollbar-track {
    background-color: #f0f0f0;
}

.fs-scrollbar-handle {
    bottom: 7.5px !important;
}

/* slick-slider */
.slick-slider {
    height: 70%;
    width: 80%;
    margin: 0 auto;
}

.slick-list {
    height: 100%;
}

.slick-track {
    height: 100%;
}

.slick-slide {
    height: 100%;
    margin: 10px;
}

.slick-slide .align-helper {
    height: 100%;
}

.slick-slide img {
    display: inline-block !important;
    height: 85%;
}

.slick-prev::before, .slick-next::before {
    color: #c8c8c8 !important;
}

.slick-prev::before:hover, .slick-next::before:hover {
    opacity: 0.8;
}

.asd {
    visibility: hidden;
    position: absolute;
    top: 35px;
}

.navitems:hover .asd {
    visibility: visible;
}