@font-face {
    font-family: futura-book;
    unicode-range: U+00-7F;
    src: url(../fonts/futura-book.woff);
}

/* font-size monkey patch on webkit */
* {
    -webkit-text-size-adjust: none;
}
body {
    font-family: futura-book, "Microsoft JhengHei", "微軟正黑";
}
div .top-black-bar {
    height: 17px;
    background: #000000;
}
div.logo {
    margin: 50px auto 36px auto;
    text-align: center;
    cursor: pointer;
}
div.logo img {
    width: 222px;
}

.footer {
    height: 40px;
    background-color: #f7f7f7;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.circle-divider {
    background: #000;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 9px 3px 9px;
}

.grey-circle {
    background: #6e6e6e;
}

.twin {
    margin: 1px;
}
.nav {
    background-color: #f7f7f7;
}
.nav.fixed, .sub-nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    margin: 0px;
}
.sub-nav {
    background: #fff;
}
.sub-nav.fixed {
    top: 47px;
}
.header {
    text-align: center;
    margin: 2px 0px;
    height: 47px;
    padding: 12px 22px;
    width: 90%;
    margin: 0 auto;
    float: none;
}
.header a {
    font-size: 14px;
    color: #000;
    letter-spacing: 0.1em;
    line-height: 1.5;
}
.header a.active {
    text-decoration: none;
}

.header .navbar {
    width: 50%;
    margin: 0 auto;
}
.header .search {
    cursor: pointer;
}
.header .fb {
    margin-right: 25px;
}
.header .fb img {
    margin-top: -3px;
}
.header a:hover {
    opacity: 0.7;
    text-decoration: none;
}
.header img:hover {
    opacity: 0.7;
}
.banner-outer-container {
    height: 50%;
    overflow-x: auto;
    overflow-y: hidden;
}
.banner-inner-container {
    width: 100000px;
}
.banner-inner-container .banner-tile {
    float: left;
    position: relative;
    height: 500px;
}
.banner-inner-container .banner-tile img {
    height: 100%;
    width: auto;
}
.banner-inner-container .banner-tile .title {
    height: 60px;
    background: rgba(0, 0, 0, .5);
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 53px;
}
.banner-inner-container .banner-tile .title span {
    color: #ffffff;
    line-height: 60px;
    font-size: 16px;
    letter-spacing: 0.075em;
    text-decoration: none;
}

.banner-inner-container .banner-tile .title .circle-divider {
    background: #ffffff;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 14px 4px 14px;
}
.scroller-content {
    padding: 0px !important;
}
.mansonryContainer {
    width: 90%;
    margin: 0 auto 50px auto
}

.no-results{
    display: block;
    font-size: 14px;
    line-height: 7;
    letter-spacing: 0.1em;
    text-align: center;
}

.tile {
    max-width: 500px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}
@media (min-width: 320px) and (max-width: 640px) {
    .tile{
        width: 100%;
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .tile{
        width: 50%;
    }
}
@media (min-width: 960px) and (max-width: 1280px)  {
    .tile{
        width: 33.31%;
    }
}
@media (min-width: 1280px) and (max-width: 1680px)  {
    .tile{
        width: 25%;
    }
}
@media (min-width: 1680px) and (max-width: 2000px) {
    .tile{
        width: 20%;
    }
}
@media (min-width: 2000px) and (max-width: 2320px) {
    .tile{
        width: 16.6%;
    }
}
@media (min-width: 2320px) and (max-width: 2640px) {
    .tile{
        width: 14.28%;
    }
}
@media (min-width: 2640px) and (max-width: 2960px) {
    .tile{
        width: 11.1%;
    }
}
.tile:hover {
    opacity: 0.7;
}
.tile img {
    width: 100%;
}
.tile .intro {
    text-transform: uppercase;
    padding: 10px 35px 35px;
    background: #f7f7f7;
}
.tile .intro .info {
    font-size: xx-small;
    margin-bottom: 5px;
}
.tile .intro .heading {
    font-size: 20px;
    letter-spacing: 0.1em;
}
.tile .intro .sub-heading {
    font-size: 14px;
}
.tile .intro .divider {
    margin-top: 0px;
    margin-bottom: 12px;
}

.tile .intro .synopsis {
    font-size: 11px;
    text-align: justify;
    line-height: 19px;
    word-wrap: break-word;
}
.tile .triangle {
    font-size: 0px;
    line-height: 0%;
    width: 0px;
    border-bottom: 14px solid #000;
    border-right: 14px solid #f7f7f7;
    margin-top: -14px;
}
.article-box{
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
}
.article-box .close {
    position: absolute;
    right: 2%;
    top: 30px;
}
.article-box .article-header {
    line-height: 45px;
    font-size: 14px;
    letter-spacing: 0.1em;
    padding: 0px;
    text-align: center;
    border-bottom: 0px;
}
.article-box .article-header .circle-divider {
    margin: 2px 20px;
}
.article-box .article {
    display: flex;
    position: absolute;
    top: 45px;
    bottom: 70px;
    left: 50%;
    margin-left: -45%;
    background-color: #f7f7f7;
    width: 90%;
    text-align: center;
    padding: 40px 0px;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 0px;
}
.article-box .article .triangle {
    font-size: 0px;
    line-height: 0%;
    width: 0px;
    border-bottom: 14px solid #000;
    border-right: 14px solid #f7f7f7;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.article-box .article .article-content {
    width: 51%;
    padding: 0px 52px !important;
    text-align: justify;
    color: #000000;
    font-size: 13px;
    line-height: 21px;
    overflow: auto;
    border-right: 1px solid #d5d5d5;
    outline: 0;
}
.article-box .article .article-content.jspScrollable {
    border-right: none;
}
.article-box .article .article-content .scroller-bar{
    background: none;
    border: none;
}

.article-box .article .article-content .scroller-track{
    background: none;
}

.article-box .article .article-content .scroll-line {
    height: 100%;
    border-right: 1px solid #d7d7d7;
    width: 1px;
    margin-left: 8px;
}
.article-box .article .article-content p {
    margin-bottom: 26px;
}
.article-box .article .article-content p.title {
    font-size: 20px;
    margin-bottom: 13px;
    letter-spacing: 0.075em;
}
.article-box .article .article-content p.sub-title {
    font-size: 16px;
    letter-spacing: 0.075em;
    margin-bottom: 0px;
}
.gallery .arrow {
    float: left;
    width: 10%;
    height: 12%;
    cursor: pointer;
}

.gallery .arrow img {
    vertical-align: middle;
    display: inline-block;
    height: 13px;
}

ul.images {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 80%;
    height: 12%;
    overflow: hidden;
    float: left;
}
ul.images li {
    display: inline;
    height: 100%;
    cursor: pointer;
}
ul.images li:hover {
    opacity: .5;
}
ul.images li img {
    max-height: 100%;
    max-width: 100%;
}
.align-helper {
    display: inline-block;
    height: 95%;
    vertical-align: middle;
}
.on_deck{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    height: 90%;
    white-space: nowrap;
    width: 100%;
}
.on_deck img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
}

.on_deck .caption {
    font-size: 11px;
    letter-spacing: 0.05em;
}
.article-box .article .article-content .share {}
.article-box .article .gallery {
    width: 50%;
    padding: 0px 40px;
    height: 100%;
}
.article-box .article .gallery .item.active {
    display: flex;
}
.article-box .article .gallery .item.active img {
    margin: auto;
}
.article-box .author {
    margin-bottom: 3px !important;
}
.article-box .credit{
    margin-bottom: 15px !important;
}
.article-box .credit .role {
    font-size: 10.5px;
    color: #6e6e6e;
    letter-spacing: 0.075em;
}
.article-box .credit .name {
    margin-left: 13px;
    color: #c8c8c8;
}
.article-box .credit .name a {
    font-size: 10.5px;
    color: #c8c8c8;
    letter-spacing: 0.075em;
}
.search-layer {
    display: none;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
}
.search-layer.show {
    display: block;
}
.search-layer .close {
    margin: 20px 30px;
}
.search-layer .search-form {
    margin-top: 145px;
    text-align: center;
}
.search-layer input {
    font-size: 150px;
    outline: 0;
    background-color: transparent;
    border: none;
    border-color: transparent;
}
.search-layer label {
    font-size: 32px;
    font-weight: 200;
    display: block;
}
.decorations {
    margin: 16px 0 20px 0;
}
.decorations .created_at {
    font-size: 11px;
    letter-spacing: 0.075em;
}

.end.decorations {
    margin-top: -10px;
}

.sub-nav .header, .sub-nav .header .fixed {
    background: #fff;
}

.sub-nav-inner {
    text-align: left;
    border-bottom:1px solid #c8c8c8;
    width: 100%;
    height:13px;
}

.nav-selected {
    display: inline-block;
    background: white;
    font-size: 14px;
    padding-right: 20px;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

.sub-nav-filters {
    background: white;
    padding-left: 20px;
}

.banner-outer-container .fs-scrollbar-content {
    padding: 0px !important;
}

/* animations */
.posts-enter {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}

.posts-enter.posts-enter-active {
  opacity: 1;
}

.posts-leave {
  opacity: 0;
  transition: opacity .3s ease-in;
}

.posts-leave.posts-leave-active {
  opacity: 0.01;
}

.gallery-enter {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}

.gallery-enter.gallery-enter-active {
  opacity: 1;
}

.gallery-leave {
  opacity: 0;
  transition: opacity .3s ease-in;
  left: 500000px;
  position: absolute;
}

.gallery-leave.gallery-leave-active {
  opacity: 0.01;
}

/* jscrollpane */
.jspTrack {
    background: #ffffff;
}

.jspDrag {
  width: 7px;
  border-radius: 3px;
  background: #d5d5d5;
}
