{% load bootstrap3 staticfiles %}
<head>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/bootstrap3-wysihtml5.min.css' %}">
    <script src="{% static 'posts/js/bootstrap3-wysihtml5.all.min.js' %}"></script>
    <script>
        $(function() {
            $('#id_content').wysihtml5({
                toolbar: {
                    "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
                    "emphasis": true, //Italics, bold, etc. Default true
                    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                    "html": false, //Button which allows you to edit the generated HTML. Default false
                    "link": true, //Button to insert a link. Default true
                    "image": false, //Button to insert an image. Default true,
                    "color": true, //Button to change color of font  
                    "blockquote": true, //Blockquote  
                    "size": 'none' //default: none, other options are xs, sm, lg
                }
            });
        });
    </script>
</head>
<body>
    <div class="container">
        {% bootstrap_messages %}
        <div class="row">
            <form action="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Next</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</body>
